section.elegant-solution-sec-1 {
    background-image: url(../images/coding.jpeg);
    position: relative;
    height: 100vh;
}

.elegant-sol-text {
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 555555;
}

/* cus-card-section-2 */
.card-position {
    transform: translateY(-6rem);
}

.cus-card-section-2 h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.cus-card-section-2 i {
    background-color: #ff214f;
    padding: 2rem;
    border-radius: 50%;
    font-size: 3rem;
    color: white;
}

.cus-card-section-2 p {
    font-style: italic;
    color: #808080;
    line-height: 2;
}

/* <!-- experiences  --> */
section.experience-section-3 {
    background-image: url(../images/doMore.jpeg);
    height: 46.75rem;
    position: relative;
}

.experience-section-3 .box-right-side p.para {
    font-size: 1rem;
    line-height: 1.9;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.box-height-shadow p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #808080;
    line-height: 1.8;
    margin-top: 2rem;   
    font-style: italic;
}

section.experience-section-3 .box-shadow,
section.experience-section-3 .box-height-shadow {
    background-color: rgb(240, 248, 255, .7);
    padding: 1rem;
    box-shadow: 0 0 28px rgb(240, 248, 255, .7);
}

.experience-section-4 .image-height,
.black-box {
    height: 22rem;
    max-height: auto;
    object-fit: cover;
    width: 100%;
    background-color: black;
}

.experience-section-4 .black-box p {
    color: #808080;
    font-style: italic;
}

.images-section-5 {
    padding: 5rem 0;
}

.images-section-5 img {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100%;
}

/* features-section-6 */
.features-section-6 {
    padding: 4rem 0;
}

.features-section-6 h3{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.features-section-6 li{
    font-style: italic;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 10px;
    color : #808080;
}

/* digitalExperience-section-7 */
section.digitalExperience-section-7 {
    background-image: url(../images/table-lamp.jpeg);
    height: 100vh;
}

.digitalExperience-section-7 {
    position: relative;
}

.digitalExperience-section-7 h4{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.digitalExperience-section-7 p{
    font-style: italic;
    color : #808080;
}
/* ourProducts-section-8 */

.ourProducts-section-8 {
    background-image: url(../images/ourProducts.jpeg);
    /* background-attachment: fixed; */
    height: 100vh;
    position: relative;
}

section.ourProducts-section-8::after {
    left: 0;
}


section.ourProducts-section-8 .outproducts-box {
    min-height: 50%;
    width: 50%;
    position: absolute;
    transform: translate(50%,50%);
    border: 1px solid white;
    z-index: 5555;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.outproducts-box h5 {
    font-size: 5px;
}

/* contact-us */
.contact-us iframe {
    height: 50vh;
    width: 100%;
}

/* footer */

.bg-dark-light {
    background-color: #333333;
}